In [1]:
a=1
type(a)

int

In [6]:
## format()
name="anisha"
age=20
degree="b.tech"
print("my age is {} and i completed: my {} with the name of {}".format(age,degree,name))

my age is 20 and i completed: my b.tech with name of anisha

In [9]:
##  f string
print(f"My age is: {age}")

My age is: 20

In [12]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is anisha and age is 20

In [10]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 500

Value is less than equal to 999

In [8]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [7]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [11]:
##Loop controls

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
#break
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)
#pass
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Mango
Cherry
The fruit is apple
Apple
Papaya
Banana
Mango
Cherry
The fruit is apple
Papaya
Banana