In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.2 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 13.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Anisha:anisha@cluster0.rxaknuy.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
client = pymongo.MongoClient("mongodb+srv://Anisha:anisha@cluster0.rxaknuy.mongodb.net/?retryWrites=true&w=majority")
db = client['pwskills']
coll_create = db["my_record"]
data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}
coll_create.insert_one(data)

In [6]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number" :2343243242
}
coll_create.insert_one(data1)

In [7]:
data2={"list_course":["DSM","WEB","JAVA"],
       "mentor":["sudh","anurag","hyder"]

}

In [8]:
coll_create.insert_one(data2)

In [9]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [10]:
coll_create.insert_many(data3)

In [22]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]
coll_create.insert_many(list_of_records)

In [23]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63fa2e6d88fe1a578d4c1442'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fa2eee88fe1a578d4c1445'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fa2fa488fe1a578d4c1446'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('63fc2ce974d6eefce1faf86c'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fc2ceb74d6eefce1faf86d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('63fc2d0274d6eefce1faf86e'), 'list_course': ['DSM', 'WEB', 'JAVA'], 'mentor': ['sudh', 'anurag', 'hyder']}
{'_id': ObjectId('63fc2d8274d6eefce1faf86f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fc2d8274d6eefce1faf870'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fc2d8274d6eefce1faf871'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fc2d8274d6eefce1faf872'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fc2d8274d6eefce1faf873'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fc2d8274d6eefce1faf874'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fc2d8274d6eefce1faf875'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fc2d8274d6eefce1faf876'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fc2d8274d6eefce1faf877'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fc2d8274d6eefce1faf878'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fc2d8274d6eefce1faf879'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fc2d8274d6eefce1faf87a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fc30d574d6eefce1faf87b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fc30d574d6eefce1faf87c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fc30d574d6eefce1faf87d'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [24]:
coll_create.find_one()

{'_id': ObjectId('63fa2e6d88fe1a578d4c1442'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [37]:
for i in coll_create.find({"name":"Vicky", "address": "Yellow Garden 2"}):
    print(i)

{'_id': ObjectId('63fc2d8274d6eefce1faf876'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [38]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

In [39]:
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [40]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63fa2e6d88fe1a578d4c1442'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fa2eee88fe1a578d4c1445'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fa2fa488fe1a578d4c1446'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('63fc2ce974d6eefce1faf86c'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63fc2ceb74d6eefce1faf86d'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('63fc2d0274d6eefce1faf86e'), 'list_course': ['DSM', 'WEB', 'JAVA'], 'mentor': ['sudh', 'anurag', 'hyder']}
{'_id': ObjectId('63fc2d8274d6eefce1faf86f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fc2d8274d6eefce1faf870'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fc2d8274d6eefce1faf871'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fc2d8274d6eefce1faf872'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fc2d8274d6eefce1faf873'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fc2d8274d6eefce1faf874'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fc2d8274d6eefce1faf875'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fc2d8274d6eefce1faf876'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fc2d8274d6eefce1faf877'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fc2d8274d6eefce1faf878'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fc2d8274d6eefce1faf879'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fc2d8274d6eefce1faf87a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fc30d574d6eefce1faf87b'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fc30d574d6eefce1faf87c'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fc30d574d6eefce1faf87d'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [41]:
coll_create.drop()

In [42]:
for i in coll_create.find():
    print(i)